<%= image_tag 'joyful12_logo.png', alt: 'Joyful12 from Joyfoodly.', class: 'sign-in-logo img-responsive center-block' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address' %>

  <%= f.label :password, class: 'sr-only' %>
  <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>

  <div class="checkbox">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>

  <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block' %>

  <%= render "devise/shared/links" %>
<% end %>

